{{#
    @name Card
    @desc A card component for news index. A sizeable image rendered in a figure tag with caption that can be placed next to the image or below it.
    @param card_size             md | lg | xl
    @param card_image            url of the image file
    @param card_orientation      default | portrait | landscape
    @param card_link             url of the link

    @set page.article.new_card
#}}

<!-- /components/_card.antlers.html -->

{{ card_class =  'card' }}
{{ if card_caption_hposition == 'prev' 
    || card_caption_hposition == 'next' 
}}
    {{ card_class .=  ' flex' }}
{{ /if }}



{{ if card_link }}
<a href="{{ card_link }}"
    class="group hover:text-primary"
>
{{ /if }}
<article  x-data="{ shown_new : false }" 
    x-intersect.once="shown_new = true;"
    class="opacity-0 {{ card_class }}"
    :class="shown_new ? 'animate-appearsin' : ''" 
>
    <div class="{{ switch(
        (card_caption_hposition == 'prev') => 'order-last w-auto',
        (card_caption_hposition == 'next') => 'w-auto',
        (card_caption_hposition == 'below') => 'mb-4',
        () => 'mb-4'
    ) }}">
        <figure        
            class="
                not-prose
                {{ switch(
                    (card_size == 'md') => 'size-md',
                    (card_size == 'lg') => 'size-lg',
                    (card_size == 'xl') => 'size-xl',
                    () => ''
                )}}
            "
        >
            {{
                partial:statamic-peak-tools::components/picture
                :image="card_image"
                aspect_ratio="{{ switch(
                    (card_orientation == 'portrait') => '25/32 large:25/32',
                    (card_orientation == 'landscape') => '16/10 large:16/10',
                    () => ''
                )}}
                "
                class="w-full"
                cover="true"
                lazy="true"
                sizes="
                    {{ switch(
                        (card_size == 'md') => '(min-width: 1280px) 640px, (min-width: 768px) 50vw, 90vw',
                        (card_size == 'lg') => '(min-width: 1280px) 960px, (min-width: 768px) 75vw, 90vw',
                        (card_size == 'xl') => '(min-width: 1280px) 1150px, 90vw',
                        () => '100vw'
                    )}}
                "
            }}

        </figure>
    </div>

    <div class="card_caption 
        {{ switch(
            (card_caption_hposition == 'prev') => 'order-first pr-4 flex',
            (card_caption_hposition == 'next') => 'pl-4 flex',
            (card_caption_hposition == 'below') => '',
            () => ''
        ) }}
        {{ switch(
            (card_caption_vposition == 'top') => 'items-start',
            (card_caption_vposition == 'bottom') => 'items-end',
            () => ''
        ) }}
    ">
        <div class="card_caption_content whitespace-nowrap not-prose text-primary group-hover:text-primary hover:text-primary">
            {{ partial src="components/text"
                :text="card_caption"
            }}
        </div>
    </div>
</article>
{{ if card_link }}
</a>
{{ /if }}

<!-- End: /components/_card.antlers.html -->
