{{#
    @name Collapse
    @desc Show and hide content. The title is used as triggers that collapse a the content displayed in two column.
#}}

<!-- /components/_collapse.antlers.html -->

{{# accordion | dump #}}

{{ collapse_int = 0  }}
<div x-data="initAccordion()"
     x-init="init()"
    class="accordion relative z-10 border-t border-black"
>
{{ accordion }}


    {{ html_colour =  'white' }}
    {{ if collapse_colour }}
        {{ html_colour =  collapse_colour }}
    {{ /if }}

    {{ html_hover_colour =  null }}
    {{ if collapse_hover_colour }}
        {{ html_hover_colour =  collapse_hover_colour }}
    {{ /if }}


    {{# stroke-black stroke-darkgrey stroke-white stroke-lightblue stroke-blue stroke-darkblue stroke-pink stroke-yellow stroke-orange stroke-green stroke-grey fill-black fill-white fill-lightblue fill-blue fill-darkblue fill-pink fill-yellow fill-orange fill-green fill-grey group-hover:stroke-white group-hover:stroke-darkblue group-hover:bg-white group-hover:text-white group-hover:fill-white #}}

    {{stroke_class = 'stroke-' + html_colour }}
    {{html_class   = class + ' flex items-end md:items-center cursor-pointer group text-' + html_colour }}
    {{svg_class    = 'inline transition-all rounded-full'}}
    {{path_class   = 'fill-' + html_colour }}

    {{ if html_hover_colour }}
        {{ svg_class    .= ' group-hover:bg-'+html_colour }}
        {{ stroke_class .= ' group-hover:stroke-'+html_hover_colour }}
        {{ html_class  .= ' transition-all duration-300 hover:text-'+html_hover_colour }}
    {{ /if }}

    {{svg_width = 20 }}

    {{ if collapse_text_size }}

        {{ html_class .=  " " +collapse_text_size }}

        {{ if collapse_text_size == 'h1'
            || collapse_text_size == 'h2'
        }}
            {{ html_class .= ' 2xl:text-6xxl ' }}
            {{ svg_class .= ' 2xl:w-[57px] w-[40px]' }}
            {{svg_width = 57 }}
        {{ /if }}

        {{ if collapse_text_size == 'h3' }}
            {{svg_width = 40 }}
        {{ /if }}

        {{ if collapse_text_size == 'h4' }}
            {{svg_width = 25 }}
        {{ /if }}

        {{ if collapse_text_size == 'h5' }}
            {{svg_width = 15 }}
        {{ /if }}

    {{ /if }}

    <div id="{{ collapse_slug }}"
        data-index="{{ collapse_int }}"
        class="pt-[9px] pb-3 md:pt-[15px] md:pb-7 border-b border-black"
    >
        <div class="{{html_class}}"
            @click="toggleCollapsed({{ collapse_int}})"
        >
            <div class="mobile-only:text-xl mr-auto pr-3 leading-none">{{ collapse_title }}</div>

            <div x-bind:class="{'rotate-180' : expanded[{{ collapse_int}}]  }">
            {{ partial:icons/arrow
              :svg_width="svg_width"
              :svg_class="arrow_class"
              :stroke_class="stroke_class"
            }}
            {{# partial:icons/arrow_circle
              :svg_width="svg_width"
              :svg_class="arrow_class"
              :circle_class="stroke_class"
              :path_class="stroke_class"
            #}}
          </div>
        </div>

        <div
            x-show="expanded[{{ collapse_int}}]"
            x-collapse
            class="grid gap-3 md:gap-4 md:grid-cols-12
            h4 mobile-only:mt-3
            items-start
            tracking-tighter"
            x-bind:class="{'opened' : expanded[{{ collapse_int}}] && showOverflow }"
        >
            <div class="md:col-span-6 lg:col-span-5
                pt-0 md:pt-[100px]
                md:pb-2"
            >
                {{ collapse_left_column }}
                    {{ partial src="components/{type}" }}
                {{ /collapse_left_column }}
            </div>
            <div class="md:col-start-7 md:col-span-5
                md:pt-[100px]
                pb-2
                mt-0
                transform transition-all duration-300"
            >
                {{ collapse_right_column }}
                    {{ partial src="components/{type}" }}
                {{ /collapse_right_column }}
            </div>
        </div>
    </div>
    {{ collapse_int = collapse_int + 1  }}
{{ /accordion }}
</div>
<script>
    //Force scroll to the top of the page always by default
    setTimeout(() => {
        window.scrollTo(0, 0);
    }, 100);

    function initAccordion() {
        return {
            expanded: [],
            showOverflow: false, //This is needed to show the UL dots when the accordion is open
            init() {
                // Wait for full DOM load
                if (document.readyState === 'complete') {
                    this.handleHash();
                } else {
                    window.addEventListener('DOMContentLoaded', () => this.handleHash());
                }
            },
            handleHash() {
                const hash = window.location.hash;
                if (!hash) return;




                history.replaceState(null, null, window.location.pathname);
                const element = document.querySelector(hash);

                if (element) {
                    const index = element.dataset.index;
                    this.expanded[index] = true;
                    this.showOverflow = true;

                    setTimeout(() => {
                        const target = document.querySelector(hash);
                        if (target) {
                            target.scrollIntoView({ behavior: "smooth" });
                            history.pushState(null, null, hash);
                        }
                    }, 2000);
                }
            },
            toggleCollapsed( expanded_int ) {
                let prev = this.expanded[expanded_int];
                this.collapseAccordion();
                this.expanded[expanded_int] = !prev;

                setTimeout(() => this.showOverflow = true, 100)
            },
            collapseAccordion() {
                this.expanded.fill(false);
                this.showOverflow = false;
            },
        }
    }
  </script>
<!-- End: /components/_collapse.antlers.html -->
