{{#
    @name Projects index
    @desc The Projects index template.
#}}

<!-- /projects/index.antlers.html -->
{{ livewire:styles }}
<main id="projects"
    class="outer-grid" 
>
    <div class="fluid-container grid md:grid-cols-12 gap-8">
        {{ partial:typography/h1 :content="title" class="md:col-span-12" }}
    </div>

    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}


    {{ section:index_content }}
        {{ livewire:projects.show-projects }}
    {{ /section:index_content }}

</main>
<!-- End: /projects/index.antlers.html -->

{{ livewire:scripts }}