{{#
    @name Scroll down button
    @desc Button to scroll down.
#}}
<!-- /navigation/_scrolldown_button.antlers.html -->

{{ scroll_to = "window.scrollBy(@{top: window.innerHeight, left: 0, behavior:'smooth'@} )" }}

{{ if scroll_down_button_link }}
    {{ scroll_to                   = "document.querySelector('" }}
    {{ scroll_to                  .= scroll_down_button_link  }}
    {{ scroll_to                  .= "').scrollIntoView(@{behavior:'smooth'@})" }}
{{ /if }}
<button 
    x-on:click.prevent="{{ scroll_to }}"
    class="absolute 
    bottom-8 
    left-1/2 
    z-20 
    -translate-x-1/2" 
>
    <div class="animate-bounce">
        {{  partial:icons/arrow
            svg_width="62"
            svg_height="62"
            svg_class="-rotate-90
            w-8 md:w-[62px]
            h-auto" 
            circle_class="fill-white"
            path_class="stroke-black stroke-[2.2]"
        }}
    </div>
</button>
<!-- End: /navigation/_scrolldown_button.antlers.html -->