/* If you don't want to use the JS in CSS syntax from `tailwind.config.site.js` you can add your own custom CSS here. Use different layers to make sure your CSS either get's purged or not: https://tailwindcss.com/docs/functions-and-directives#layer. CSS in the base layer won't get purged. */

@layer base {

    @font-face {
        font-family: 'Neue Haas Grotesk Display Pro';
        src: url('/resources/fonts/FKGroteskNeue-Regular/FKGroteskNeue-Regular.eot');
        src: url('/resources/fonts/FKGroteskNeue-Regular/FKGroteskNeue-Regular.eot?#iefix') format('embedded-opentype'),
            url('/resources/fonts/FKGroteskNeue-Regular/FKGroteskNeue-Regular.woff2') format('woff2'),
            url('/resources/fonts/FKGroteskNeue-Regular/FKGroteskNeue-Regular.woff') format('woff'),
            url('/resources/fonts/FKGroteskNeue-Regular/FKGroteskNeue-Regular.svg#FKGroteskNeue-Regular') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }


    h1 {
        @apply text-4xl md:text-8xl;
        @apply font-normal;
        @apply leading-tight;
        @apply tracking-normal;
    }
    h2 {
        @apply text-4xl md:text-8xl;
        @apply font-normal;
        @apply leading-tight;
        @apply tracking-normal;
    }
    h3 {
        @apply text-3xl md:text-5xl;
        @apply font-normal;
        @apply leading-tight md:leading-5xl;
        @apply tracking-tight;
    }
    h4 {
        @apply text-base md:text-2xl;
        @apply font-normal;
        @apply leading-tight md:leading-2xl;
        @apply tracking-normal md:tracking-2xl;
    }

}

@layer components {
    .prose {
        color: inherit;
    }
    .not-prose {
        margin: 0 !important;
    }

}

@layer utilities {

}