{{#
    @name News show
    @desc The News show template.
#}}

<!-- /news/show.antlers.html -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ permalink }}"
        },
        "headline": "{{ title }}",
        "image": "{{ config:app:url }}{{ image }}",
        "datePublished": "{{ date format="Y-m-d\TH:i:s" }}",
        "author": {
            "@type": "Organization",
            "name": "{{ config:app:name }}",
            "url": "{{ config:app:url }}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ config:app:name }}"{{ if seo:organization_logo }},
            "logo": {
                "@type": "ImageObject",
                "url": "{{ config:app:url }}{{ glide:seo:organization_logo width='336' height='336' fit='contain' }}"
            }{{ /if }}
        }
    }
</script>
<main id="content"
    class="outer-grid" 
>

    <section id="" 
        class="fluid-container grid gap-2 md:grid-cols-12 mb-3">
        <header class="md:col-span-8 md:col-start-3">

            {{ partial:typography/h1 
                :content="title" 
                class="mt-3 text-left md:col-span-8" 
            }}

            <div class="mt-3 md:col-span-2">

                {{ partial:typography/time 
                    :content="date" 
                    format='DD.MM.YY'
                    class="block text-left" 
                }}
            </div>

            {{  partial:components/image
                :image="image" 
                figure_class="mt-4 md:col-span-8"
                ratio="3/2" 
            }}
        </header>

    </section>

    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}


    {{ collection:previous in="news" sort="date:asc" limit="3" as="items" }}
        {{ unless no_results }}
            <section class="fluid-container grid md:grid-cols-12 gap-8">
                {{ partial:typography/h1 as="h2" content="{ trans:strings.news_more }" class="md:col-span-12" }}

                {{ items }}
                    {{ partial:components/news_item class="md:col-span-4" }}
                {{ /items }}
            </section>
        {{ /unless }}
    {{ /collection:previous }}



</main>

<!-- /news/show.antlers.html -->
